
h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding-right:0x;
}
h1{
    padding-bottom:500px;
    position:inherit;
}

h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 130%;
    text-align: center;
    padding-top: 30px;
}

*{
    padding: 0;
    margin: 0;
}
.homeimage{
    background-image: url("../IMAGES/backgrounds/h_img.jpg");
    color: white;
    background-size:cover;
    background-repeat:no-repeat;
    text-align: center;
    margin-top: 0px;

}
#logo{
    background-position: bottom;

}

.containerf-fluid
{
    width:10px;
    margin: 70px auto;
    display: flex;
    flex-wrap: wrap;

}


.container-fluid .objects{
    position: relative;
    width: 300px;
    height: 300px;
    margin:10px;
    display: inline-flex;
   
}

.services{
    background-image: url("../IMAGES/backgrounds/s_image.jpg");
    margin-top: 70px;
    background-size: cover;
    color:white;
    padding-top: 90px;
    padding-bottom: 110px;
    text-align: center;
    line-height: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.aboutustext{
    text-align: center;
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 30px;
    line-height: 40px;
}


p{
    margin-top:30px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: ;
}

.img2{
    background: url("../IMAGES/backgrounds/c_img.jpg") no-repeat center center fixed;
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center center;
    
    
}

#mouse{
    position: inherit;
    padding-bottom: 100px;
    top:25%;
    bottom:20px;
    justify-content: center;
    align-items: center;
}

.container{
    width: auto;
    margin: 5px auto 0;
    display:table;
    box-sizing: border-box;
}

.row{
    margin-left: 50px;
    margin-right: 50px;
    display:block;
}

.column{
    color:black;
    display: table-cell;
    padding:20px;
    width:33.3333%;
    text-align:center;
    border-right: 10px;
}

.gallery{
    margin:5px;
    border:1px solid #ccc;
    float:left;
    width:390px;
}

.gallery img{
    widows: 100%;
    height:auto;
}

.portfolio{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:35px;
}

.header{
    height:100vh;
    width: initial;
    background-position: bottom;
    background-image: url("../IMAGES/backgrounds/c_image.jpg");
    background-size:cover;
    color: white; 
    background-position: inherit;
    justify-content: center;
    align-items: center;
    margin-top:50px;
    margin-bottom:50px;
}

.contactus{
    text-align:center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 100px;
    font-size: 35px;
}


.header ::placeholder{
    color:white;
}

#message{
line-height: 300px;
background-color: initial;
color:white;
}

#name{
    margin-top: 2%;
    margin-left:180px;
    padding-bottom: 10px;
    margin-bottom:30px ;
    background-color: initial;
    color:white;  
}

#email{
    padding-bottom: 10px;
    background-color: initial;
    color:white;
}

.socialmedia{
    text-align: center;
    margin-bottom: 30px;
}

.delanistudio{
    text-align:center;
    font-size: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#submit{
    margin: 50px;
    margin-right: 100px;
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


